In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('dataset/raw/API_2_DS2_en_csv_v2_3732787.csv', skiprows=4)
country_class = pd.read_csv('dataset/raw/Country_Group.csv')

https://data.worldbank.org/topic/aid-effectiveness?view=chart

https://ilostat.ilo.org/topics/working-poor/

In [3]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Net migration,SM.POP.NETM,NaN,NaN,-4323.0,NaN,NaN,NaN,...,1.253000e+03,NaN,NaN,NaN,NaN,1.004000e+03,NaN,NaN,NaN,NaN
1,Aruba,ABW,"Vulnerable employment, total (% of total emplo...",SL.EMP.VULN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aruba,ABW,Poverty headcount ratio at $1.90 a day (2011 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aruba,ABW,"Incidence of tuberculosis (per 100,000 people)",SH.TBS.INCD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.100000e+01,1.200000e+01,2.200000e+00,9.900000e+00,1.500000e+01,8.700000e+00,5.400000e+00,2.200000e+00,1.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19679,Zimbabwe,ZWE,"Net bilateral aid flows from DAC donors, Belgi...",DC.DAC.BELL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.520000e+06,1.580000e+06,3.860000e+06,2.190000e+06,3.480000e+06,1.180000e+06,7.400000e+05,6.400000e+05,NaN,NaN
19680,Zimbabwe,ZWE,"Net bilateral aid flows from DAC donors, Austr...",DC.DAC.AUTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.200000e+05,1.700000e+05,3.500000e+05,3.600000e+05,1.900000e+05,3.800000e+05,3.600000e+05,4.300000e+05,NaN,NaN
19681,Zimbabwe,ZWE,"Net bilateral aid flows from DAC donors, Austr...",DC.DAC.AUSL.CD,NaN,NaN,NaN,NaN,NaN,2.000000e+04,...,5.195000e+07,3.577000e+07,1.504000e+07,8.150000e+06,3.230000e+06,2.420000e+06,1.400000e+06,2.150000e+06,NaN,NaN
19682,Zimbabwe,ZWE,"Technical cooperation grants (BoP, current US$)",BX.GRT.TECH.CD.WD,NaN,NaN,NaN,NaN,140000.0,1.500000e+05,...,9.285000e+07,6.821000e+07,5.262000e+07,4.036000e+07,5.980000e+07,5.249000e+07,5.442000e+07,6.704000e+07,NaN,NaN
19683,Zimbabwe,ZWE,"Grants, excluding technical cooperation (BoP, ...",BX.GRT.EXTA.CD.WD,NaN,10000.0,NaN,70000.0,6560000.0,6.030000e+06,...,9.195500e+08,7.772000e+08,7.074700e+08,7.746000e+08,6.933500e+08,6.758300e+08,7.390300e+08,9.239100e+08,NaN,NaN

In [4]:
data = pd.melt(data, id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"], var_name="Year", value_name="Value")

In [5]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Aruba,ABW,Net migration,SM.POP.NETM,1960,NaN
1,Aruba,ABW,"Vulnerable employment, total (% of total emplo...",SL.EMP.VULN.ZS,1960,NaN
2,Aruba,ABW,Poverty headcount ratio at $1.90 a day (2011 P...,SI.POV.DDAY,1960,NaN
3,Aruba,ABW,Income share held by lowest 20%,SI.DST.FRST.20,1960,NaN
4,Aruba,ABW,"Incidence of tuberculosis (per 100,000 people)",SH.TBS.INCD,1960,NaN
...,...,...,...,...,...,...
1220403,Zimbabwe,ZWE,"Net bilateral aid flows from DAC donors, Belgi...",DC.DAC.BELL.CD,Unnamed: 65,NaN
1220404,Zimbabwe,ZWE,"Net bilateral aid flows from DAC donors, Austr...",DC.DAC.AUTL.CD,Unnamed: 65,NaN
1220405,Zimbabwe,ZWE,"Net bilateral aid flows from DAC donors, Austr...",DC.DAC.AUSL.CD,Unnamed: 65,NaN
1220406,Zimbabwe,ZWE,"Technical cooperation grants (BoP, current US$)",BX.GRT.TECH.CD.WD,Unnamed: 65,NaN
1220407,Zimbabwe,ZWE,"Grants, excluding technical cooperation (BoP, ...",BX.GRT.EXTA.CD.WD,Unnamed: 65,NaN

In [6]:
data = data.pivot_table('Value', ['Country Name', 'Country Code', 'Year'], ['Indicator Name'])\
            .reset_index()
data.columns.name=None

In [7]:
data

,Country Name,Country Code,Year,"Grants, excluding technical cooperation (BoP, current US$)","Incidence of tuberculosis (per 100,000 people)",Income share held by lowest 20%,"Maternal mortality ratio (modeled estimate, per 100,000 live births)","Mortality rate, under-5 (per 1,000 live births)",Net ODA received (% of GNI),Net ODA received (% of central government expense),...,"Net official flows from UN agencies, WFP (current US$)","Net official flows from UN agencies, WHO (current US$)",Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population),Pregnant women receiving prenatal care (%),"Prevalence of HIV, total (% of population ages 15-49)","Prevalence of stunting, height for age (% of children under 5)","Primary completion rate, total (% of relevant age group)","School enrollment, primary and secondary (gross), gender parity index (GPI)","Technical cooperation grants (BoP, current US$)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)"
0,Afghanistan,AFG,1960,14350000.0,NaN,NaN,NaN,358.2,3.129960,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1510000.0,NaN
1,Afghanistan,AFG,1961,32730000.0,NaN,NaN,NaN,352.2,6.191071,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1620000.0,NaN
2,Afghanistan,AFG,1962,16080000.0,NaN,NaN,NaN,346.3,3.035259,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1870000.0,NaN
3,Afghanistan,AFG,1963,34470000.0,NaN,NaN,NaN,340.6,4.783043,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990000.0,NaN
4,Afghanistan,AFG,1964,39890000.0,NaN,NaN,NaN,335.1,5.661171,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2150000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14743,Zimbabwe,ZWE,2016,693350000.0,233.0,NaN,468.0,58.7,3.246351,12.616339,...,1.557156e+07,2.532748e+06,NaN,NaN,13.6,NaN,99.265839,NaN,59800000.0,66.500002
14744,Zimbabwe,ZWE,2017,675830000.0,221.0,6.0,458.0,57.0,4.201493,14.526907,...,3.349720e+06,1.389413e+06,33.9,NaN,13.2,NaN,95.476372,NaN,52490000.0,66.720000
14745,Zimbabwe,ZWE,2018,739030000.0,210.0,NaN,NaN,54.8,4.460986,21.190283,...,3.480435e+06,2.529465e+06,NaN,NaN,12.8,NaN,92.195152,NaN,54420000.0,66.910002
14746,Zimbabwe,ZWE,2019,923910000.0,199.0,NaN,NaN,54.2,5.159071,NaN,...,1.054724e+07,1.623377e+06,39.5,93.3,12.4,23.5,88.508812,NaN,67040000.0,68.349998
14747,Zimbabwe,ZWE,2020,NaN,193.0,NaN,NaN,53.9,NaN,NaN,...,NaN,NaN,NaN,NaN,11.9,NaN,90.017349,NaN,NaN,NaN

In [8]:
colname = ['Country Name',
           'Country Code',
           'Year',
           'Net bilateral aid flows from DAC donors, United States (current US$)',
           'Net bilateral aid flows from DAC donors, United Kingdom (current US$)',
           'Net bilateral aid flows from DAC donors, Germany (current US$)',
           'Net bilateral aid flows from DAC donors, European Union institutions (current US$)',
           'Net bilateral aid flows from DAC donors, Total (current US$)'
          ]
data = data.loc[:,colname ]

In [9]:
data = data[data['Year'].astype('int')>= 2000]

In [10]:
data

,Country Name,Country Code,Year,"Net bilateral aid flows from DAC donors, United States (current US$)","Net bilateral aid flows from DAC donors, United Kingdom (current US$)","Net bilateral aid flows from DAC donors, Germany (current US$)","Net bilateral aid flows from DAC donors, European Union institutions (current US$)","Net bilateral aid flows from DAC donors, Total (current US$)"
40,Afghanistan,AFG,2000,2.420000e+06,1.265000e+07,1.063000e+07,1.773000e+07,1.052400e+08
41,Afghanistan,AFG,2001,7.700000e+06,3.544000e+07,4.414000e+07,4.579000e+07,3.686500e+08
42,Afghanistan,AFG,2002,3.676100e+08,1.308000e+08,9.257000e+07,1.437200e+08,1.134420e+09
43,Afghanistan,AFG,2003,4.857900e+08,9.861000e+07,8.210000e+07,2.080300e+08,1.428820e+09
44,Afghanistan,AFG,2004,7.782900e+08,2.240100e+08,7.513000e+07,2.120000e+08,1.934600e+09
...,...,...,...,...,...,...,...,...
14743,Zimbabwe,ZWE,2016,2.162000e+08,1.346100e+08,3.564000e+07,5.082000e+07,5.384500e+08
14744,Zimbabwe,ZWE,2017,2.275200e+08,1.204900e+08,2.992000e+07,6.188000e+07,5.354300e+08
14745,Zimbabwe,ZWE,2018,2.025300e+08,1.252000e+08,4.466000e+07,6.539000e+07,5.350200e+08
14746,Zimbabwe,ZWE,2019,2.572200e+08,1.263500e+08,2.723000e+07,5.300000e+07,5.777700e+08
14747,Zimbabwe,ZWE,2020,NaN,NaN,NaN,NaN,NaN

In [11]:
pd.unique(data['Country Name'])

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Fiji', 'Finland', 'Fragile and conflict affected situations',
       'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'OECD members', 'Oman',
       'Other small states', 'Pacific island small states', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [12]:
countries  = ['Africa Eastern and Southern',
'Africa Western and Central',
'Arab World',
'Caribbean small states',
'Central Europe and the Baltics',
'Early-demographic dividend',
'East Asia & Pacific',
'East Asia & Pacific (IDA & IBRD countries)',
'East Asia & Pacific (excluding high income)',
'Euro area',
'Europe & Central Asia',
'Europe & Central Asia (IDA & IBRD countries)',
'Europe & Central Asia (excluding high income)',
'European Union',
'Fragile and conflict affected situations',
'Heavily indebted poor countries (HIPC)',
'High income',
'IBRD only',
'IDA & IBRD total',
'IDA blend',
'IDA only',
'IDA total',
'Late-demographic dividend',
'Latin America & Caribbean',
'Latin America & Caribbean (excluding high income)',
'Latin America & the Caribbean (IDA & IBRD countries)',
'Least developed countries: UN classification',
'Low & middle income',
'Low income',
'Lower middle income',
'Middle East & North Africa',
'Middle East & North Africa (IDA & IBRD countries)',
'Middle East & North Africa (excluding high income)',
'Middle income',
'North America',
'OECD members',
'Other small states',
'Pacific island small states',
'Post-demographic dividend',
'Pre-demographic dividend',
'Small states',
'South Asia',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa',
'Sub-Saharan Africa (IDA & IBRD countries)',
'Sub-Saharan Africa (excluding high income)',
'Upper middle income',
'World']
data = data[~data['Country Name'].isin(countries)]

In [13]:
data

,Country Name,Country Code,Year,"Net bilateral aid flows from DAC donors, United States (current US$)","Net bilateral aid flows from DAC donors, United Kingdom (current US$)","Net bilateral aid flows from DAC donors, Germany (current US$)","Net bilateral aid flows from DAC donors, European Union institutions (current US$)","Net bilateral aid flows from DAC donors, Total (current US$)"
40,Afghanistan,AFG,2000,2.420000e+06,1.265000e+07,1.063000e+07,1.773000e+07,1.052400e+08
41,Afghanistan,AFG,2001,7.700000e+06,3.544000e+07,4.414000e+07,4.579000e+07,3.686500e+08
42,Afghanistan,AFG,2002,3.676100e+08,1.308000e+08,9.257000e+07,1.437200e+08,1.134420e+09
43,Afghanistan,AFG,2003,4.857900e+08,9.861000e+07,8.210000e+07,2.080300e+08,1.428820e+09
44,Afghanistan,AFG,2004,7.782900e+08,2.240100e+08,7.513000e+07,2.120000e+08,1.934600e+09
...,...,...,...,...,...,...,...,...
14743,Zimbabwe,ZWE,2016,2.162000e+08,1.346100e+08,3.564000e+07,5.082000e+07,5.384500e+08
14744,Zimbabwe,ZWE,2017,2.275200e+08,1.204900e+08,2.992000e+07,6.188000e+07,5.354300e+08
14745,Zimbabwe,ZWE,2018,2.025300e+08,1.252000e+08,4.466000e+07,6.539000e+07,5.350200e+08
14746,Zimbabwe,ZWE,2019,2.572200e+08,1.263500e+08,2.723000e+07,5.300000e+07,5.777700e+08
14747,Zimbabwe,ZWE,2020,NaN,NaN,NaN,NaN,NaN

In [14]:
pd.unique(data['Country Name'])

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [15]:
country_class

,Country Name,Country Code,Region,Income group
0,Aruba,ABW,Latin America & Caribbean,High income
1,Afghanistan,AFG,South Asia,Low income
2,Angola,AGO,Sub-Saharan Africa,Lower middle income
3,Albania,ALB,Europe & Central Asia,Upper middle income
4,Andorra,AND,Europe & Central Asia,High income
...,...,...,...,...
213,Kosovo,XKX,Europe & Central Asia,Upper middle income
214,"Yemen, Rep.",YEM,Middle East & North Africa,Low income
215,South Africa,ZAF,Sub-Saharan Africa,Upper middle income
216,Zambia,ZMB,Sub-Saharan Africa,Lower middle income
217,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income

In [16]:
data = data.merge(country_class, on=['Country Name', 'Country Code'], how='left')

In [17]:
data

,Country Name,Country Code,Year,"Net bilateral aid flows from DAC donors, United States (current US$)","Net bilateral aid flows from DAC donors, United Kingdom (current US$)","Net bilateral aid flows from DAC donors, Germany (current US$)","Net bilateral aid flows from DAC donors, European Union institutions (current US$)","Net bilateral aid flows from DAC donors, Total (current US$)",Region,Income group
0,Afghanistan,AFG,2000,2.420000e+06,1.265000e+07,1.063000e+07,1.773000e+07,1.052400e+08,South Asia,Low income
1,Afghanistan,AFG,2001,7.700000e+06,3.544000e+07,4.414000e+07,4.579000e+07,3.686500e+08,South Asia,Low income
2,Afghanistan,AFG,2002,3.676100e+08,1.308000e+08,9.257000e+07,1.437200e+08,1.134420e+09,South Asia,Low income
3,Afghanistan,AFG,2003,4.857900e+08,9.861000e+07,8.210000e+07,2.080300e+08,1.428820e+09,South Asia,Low income
4,Afghanistan,AFG,2004,7.782900e+08,2.240100e+08,7.513000e+07,2.120000e+08,1.934600e+09,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...
4448,Zimbabwe,ZWE,2016,2.162000e+08,1.346100e+08,3.564000e+07,5.082000e+07,5.384500e+08,Sub-Saharan Africa,Lower middle income
4449,Zimbabwe,ZWE,2017,2.275200e+08,1.204900e+08,2.992000e+07,6.188000e+07,5.354300e+08,Sub-Saharan Africa,Lower middle income
4450,Zimbabwe,ZWE,2018,2.025300e+08,1.252000e+08,4.466000e+07,6.539000e+07,5.350200e+08,Sub-Saharan Africa,Lower middle income
4451,Zimbabwe,ZWE,2019,2.572200e+08,1.263500e+08,2.723000e+07,5.300000e+07,5.777700e+08,Sub-Saharan Africa,Lower middle income
4452,Zimbabwe,ZWE,2020,NaN,NaN,NaN,NaN,NaN,Sub-Saharan Africa,Lower middle income

In [18]:
data.to_csv('Dataset/improved/AID.csv', index=False)

In [19]:
poverty = pd.read_csv('Dataset/raw/SDG_0111_SEX_AGE_RT_A_EN.csv', skiprows=5, encoding='latin-1')

In [20]:
poverty.drop(poverty.columns[len(poverty.columns)-1], axis=1, inplace=True)

In [21]:
poverty

,Reference area,Source,Sex,Time,15+,15-24,25+
0,World,ILO - ILO Modelled Estimates,Total,2010,14.0,19.0,13.1
1,World,ILO - ILO Modelled Estimates,Male,2010,14.0,18.7,13.1
2,World,ILO - ILO Modelled Estimates,Female,2010,14.1,19.4,13.0
3,World,ILO - ILO Modelled Estimates,Total,2011,12.0,16.8,11.1
4,World,ILO - ILO Modelled Estimates,Male,2011,11.9,16.5,11.1
...,...,...,...,...,...,...,...
4059,Zimbabwe,ILO - ILO Modelled Estimates,Total,2019,35.6,39.3,34.0
4060,Zimbabwe,ILO - ILO Modelled Estimates,Male,2019,34.5,39.5,32.0
4061,Zimbabwe,ILO - ILO Modelled Estimates,Female,2019,36.7,39.0,35.8
4062,Zimbabwe,ILO - ILO Modelled Estimates,Total,2020,39.5,NaN,NaN
4063,Zimbabwe,ILO - ILO Modelled Estimates,Total,2021,38.6,NaN,NaN

In [22]:
poverty = poverty.rename(columns={'Reference area': 'Country Name', 'Time': 'Year', '15+':'Poverty Rate'})

In [23]:
poverty

,Country Name,Source,Sex,Year,Poverty Rate,15-24,25+
0,World,ILO - ILO Modelled Estimates,Total,2010,14.0,19.0,13.1
1,World,ILO - ILO Modelled Estimates,Male,2010,14.0,18.7,13.1
2,World,ILO - ILO Modelled Estimates,Female,2010,14.1,19.4,13.0
3,World,ILO - ILO Modelled Estimates,Total,2011,12.0,16.8,11.1
4,World,ILO - ILO Modelled Estimates,Male,2011,11.9,16.5,11.1
...,...,...,...,...,...,...,...
4059,Zimbabwe,ILO - ILO Modelled Estimates,Total,2019,35.6,39.3,34.0
4060,Zimbabwe,ILO - ILO Modelled Estimates,Male,2019,34.5,39.5,32.0
4061,Zimbabwe,ILO - ILO Modelled Estimates,Female,2019,36.7,39.0,35.8
4062,Zimbabwe,ILO - ILO Modelled Estimates,Total,2020,39.5,NaN,NaN
4063,Zimbabwe,ILO - ILO Modelled Estimates,Total,2021,38.6,NaN,NaN

In [24]:
pd.unique(poverty['Country Name'])

array(['World', 'World: Low income', 'World: Lower-middle income',
       'World: Upper-middle income', 'World: High income', 'Africa',
       'Americas', 'Arab States', 'Asia and the Pacific',
       'Europe and Central Asia', 'Albania', 'Algeria', 'Angola',
       'Argentina', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus',
       'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Congo, Democratic Republic of the', 'Costa Rica', "Côte d'Ivoire",
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Eswatini', 'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Georgia',
       'Ghana', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'India', 'Indonesia', 'Iran, Islamic Republic of',
       'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Republic of', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Lebanon', 'Lesotho',
       'Liberia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova, Republic of',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Occupied Palestinian Territory', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Russian Federation', 'Rwanda', 'Senegal', 'Serbia',
       'Sierra Leone', 'Solomon Islands', 'South Africa', 'Sri Lanka',
       'Sudan', 'Suriname', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'Uruguay', 'Uzbekistan',
       'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [25]:
countries = ['World',
             'World: Low income',
             'World: Lower-middle income',
             'World: Upper-middle income',
             'World: High income',
             'Africa',
             'Americas',
             'Arab States',
             'Asia and the Pacific',
             'Europe and Central Asia']
poverty = poverty[~poverty['Country Name'].isin(countries)]

In [26]:
poverty

,Country Name,Source,Sex,Year,Poverty Rate,15-24,25+
320,Albania,ILO - ILO Modelled Estimates,Total,2010,0.2,0.5,0.2
321,Albania,ILO - ILO Modelled Estimates,Male,2010,0.2,0.3,0.1
322,Albania,ILO - ILO Modelled Estimates,Female,2010,0.2,0.8,0.2
323,Albania,ILO - ILO Modelled Estimates,Total,2011,0.2,0.7,0.1
324,Albania,ILO - ILO Modelled Estimates,Male,2011,0.2,0.5,0.1
...,...,...,...,...,...,...,...
4059,Zimbabwe,ILO - ILO Modelled Estimates,Total,2019,35.6,39.3,34.0
4060,Zimbabwe,ILO - ILO Modelled Estimates,Male,2019,34.5,39.5,32.0
4061,Zimbabwe,ILO - ILO Modelled Estimates,Female,2019,36.7,39.0,35.8
4062,Zimbabwe,ILO - ILO Modelled Estimates,Total,2020,39.5,NaN,NaN
4063,Zimbabwe,ILO - ILO Modelled Estimates,Total,2021,38.6,NaN,NaN

In [27]:
poverty.drop(['Source', '15-24', '25+' ], axis=1, inplace=True)

C:\Users\kiran\AppData\Local\Temp/ipykernel_16372/1591539342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poverty.drop(['Source', '15-24', '25+' ], axis=1, inplace=True)

In [28]:
poverty.to_csv('Dataset/improved/poverty_data.csv', index=False)